     * {
     /*   border: 1px solid black;*/
        margin: 0;
        font-family: 'Roboto', sans-serif;
       }


.header {

}

.header-tagline {
	text-align: center;
	font-size: 3em;
	margin-top: 2.1em;
	color: white;
}

.header-logo {
	display: flex;
	margin: 0 auto;
	background-image: url("../images/voteup-background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 40vh;
}

.boldy {
	color: #1A2833;
	font-weight: bold;
}

.header-logo img {
	height: 400px;
	width: 400px;
	top: 3.4em;
}

.header-text {
	display: flex;
	justify-content: center;
	margin: -1em;
}


.topic-form {
/*	background: red;*/
	display: flex;
	flex-direction: column;
	align-items: left;
	margin: 8em;
	margin-left: 20em;
	margin-top: .5em;
	margin-bottom: .5em;
	height: auto;
	width: 80%;
	padding: 10px;
}

.form-check {
/*	background: chartreuse;*/
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 1.55em;
	margin-top: 1em;
	margin-bottom:1em;
	margin-left: 4em;
	font-size:1.5em;
}

.form-check img {
	height: auto;
	width: 2em;
	padding-right: 10px;
}

.btn {
	border-radius:3px;
	background: #1A2833;
	color: white;
	text-decoration: none;
	border: 2px #1A2833 solid;
	margin-left:500px;
 }

 .results {
     padding: 50px;
     margin: auto;
     font-size: 2em;
 }
 
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  padding-top: 120px;
  padding-right: 100px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16b'; }
label[for*='4']:before { content: '\f1a9'; }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid black;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}*/
